body{
    background-color: #00ced1;
}

p, h3{
    text-align: center;
}

.header-area{
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #ffffff;
}

.header-list{
    display: flex;
    align-items: center;
}

.list-content{
    list-style: none;
    margin: 15px;
    text-decoration: none;
}

.main{
    width: 100%;
    min-width: 555px;
}

.welcome-area,.profile-area,.work-area,
.skill-area,.history-area,.mind-area,.contact-area{
    min-height: 100vh;
    position: relative;
}
.wave{
  position: relative;
  height: 200px;
}

canvas{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#bubbles{
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
}

.bubble {
  position: absolute;
  bottom: 0;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.title{
    font-size: 32px;
    margin: 40px;
}

.maintitleFadeIn{
  animation-name:fadeInAnime;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.titleFadeIn{
  animation-name:fadeInAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnime{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.title-area{
    padding-top: 350px;
    background-color: #ffffff;
    min-height: 70vh;
}

.site-title{
    font-size: 72px;
    font-weight: 100;
}

.underline{
    text-decoration: underline 2px #d10065;
}

.profile-area{
    margin: 20px auto;
}

.welcome-area{
    margin: 100px auto 20px;
}

.welcome-title{
    font-size: 32px;
    font-weight: 500;
    padding-top: 250px;
}

.welcome-contents{
    margin: 80px;
}

.sentence{
    font-size: 18px;
    font-weight: 300;
    background-image: -webkit-linear-gradient(left, transparent 30%, rgb(209,0,101) 50%);
    background-image: -moz-linear-gradient(left, transparent 30%, rgb(209,0,101) 50%);
    background-image: -o-linear-gradient(left, transparent 30%, rgb(209,0,101) 50%);
    background-image: linear-gradient(left, transparent 30%, rgb(209,0,101) 50%);
    background-repeat: repeat-x;
    background-size: 200% 0.3em;
    background-position: 0 1em;
    transition: all 3s ease;
}

.sentence.move{
  background-position: -100% 1em;
}

.profile-area{
    width: 100%;
}

.my-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.my-icon{
    border-radius: 50%;
    margin-right: 50px;
}

.profile-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-icon{
    margin: auto 20px auto 30px;
}

.profile-contents{
    margin: 50px;
}

.work-title{
    font-size: 18px;
}

.work-contents{
    width: 80vw;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.work-deli-content, .work-ide-content{
    width: 300px;
    height: 300px;
    background-color: #bcd1d1;
    border-radius: 10px;
    margin: 30px 50px;
}

.works-logo{
    width: 220px;
    margin: 40px auto ;
}

.logo-image{
  width: 220px;
  height: auto;
}

.works-title{
  font-size: 20px;
  text-align: center;
  margin-top: 60px;
  cursor: pointer;
}

.work-deli-detail, .work-ide-detail{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
  min-width: 600px;
  height: 80vh;
  min-height: 400px;
  background-color: rgba(188,209,209,0.9);
  border-radius: 15px;
  padding: 10px 20px;
}

.works-detail-title{
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  position: relative;
}

.work-exit{
  position: absolute;
  top: -10px;
  right: 20px;
  margin-left: 100px;
  font-size: 30px;
  cursor: pointer;
}

.works-detail-name{
  text-decoration: none;
  color: #242424;
  cursor: pointer;
}

.works-github{
  width: 30px;
  height: 30px;
  margin-left:20px;
}

.works-explanation{
  text-align: center;
  margin: 20px;
}

.works-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 25px;
}

.works-environment{
  margin-left: 10px;
  margin-top: -10px;
}

.use-language{
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.works-images-slide{
  display: flex;
  justify-content: center;
  position: relative;
}

.works-image-box{
  width: 45vw;
  min-width: 400px;
  height: auto;
  margin: 10px;
}

.image-prev{
  left: 250px;
}

.image-next{
  right: 250px;
}

.image-prev, .image-next{
  position: absolute;
  top: 25vh;
  font-size: 32px;
  color: #ffffff;
  text-shadow: 2px 2px 2px #242424;
  cursor: pointer;
}

/* .block{
  display: none;
} */

.skill-area{
    margin-top: 300px;
}

.skill-contents-area{
    margin-top: 100px;
}

.skill-contents{
    width: 100vw;
    padding: 10px auto;
    display: flex;
    justify-content: center;
}

.skill-content{
    display: inline-block;
    position: relative;
    height: 60px;
    line-height: 60px;
    width: 200px;
    margin: 20px;
    text-align: center;
    padding: 0 40px 0 18px;
    font-size: 18px;
    color: #bcd1d1;
    box-sizing: border-box;
    border-radius: 10px 0 0 10px;
}

.skill-content:after{
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    z-index: 1;
}

.skill-content:after{
    top: 0;
    right: 0;
    border-width: 30px 15px 30px 0px;
    border-color: transparent #00ced1 transparent transparent;
    border-style: solid;
}

.flipRightTop{
  animation-name:flipRightTopAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
@keyframes flipRightTopAnime{
  from {
   transform: translate(-20px,80px) rotate(25deg);
   opacity: 0;
  }
  
  to {
    transform: translate(0,1) rotate(0deg);
    opacity: 1;
  }
}

.programming{
    background: #d10065;
}

.others{
    background: #d16c00;
}

#history-contents {
    position: relative;
    max-width: 920px;
    width: 100%;
    margin: 100px auto 0;
  }
  #history-contents .timeline-start,
  #history-contents .timeline-end {
    display: table;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    background: #bcd1d1;
    padding: 15px 23px;
    color: #d10065;
    max-width: 20%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    z-index: 100;
  }
  #history-contents .conference-center-line {
    position: absolute;
    width: 3px;
    height: 95%;
    top: 75px;
    left: 50%;
    margin-left: -2px;
    background: #bcd1d1;
    z-index: 0;
  }
  #history-contents .conference-timeline-content {
    padding-top: 67px;
    padding-bottom: 67px;
  }
  .timeline-article {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 60px 0;
  }
  .timeline-article .content-left-container,
  .timeline-article .content-right-container {
    max-width: 44%;
    width: 100%;
  }
 
  .timeline-article .content-left,
  .timeline-article .content-right {
    position: relative;
    width: auto;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.03);
    padding: 27px 25px;
    border-radius: 0 0 10px 10px;
  }
  .timeline-article p {
    margin: 10px;
    padding: 0;
    font-weight: 400;
    color: #242424;
    font-size: 14px;
    line-height: 24px;
    position: relative;
  }
  .timeline-article .content-left-container {
    float: left;
  }
  .timeline-article .content-right-container {
    float: right;
  }
  .timeline-article .content-left:before,
  .timeline-article .content-right:before{
    position: absolute;
    top: 20px;
    font-size: 23px;
    color: #fff;
  }
  .timeline-article .content-left:before {
    content: "　　　";
    top: -60px;
    right: -60px;
    border-top: 5px solid #bcd1d1;
  }
  .timeline-article .content-right:before {
    content: "　　　";
    top: -60px;
    left: -60px;
    border-top: 5px solid #bcd1d1;
  }
  .timeline-article .meta-date {
    position: absolute;
    top: 0;
    left: 50%;
    width: 62px;
    height: 62px;
    margin-left: -31px;
    border-radius: 100%;
    background: #bcd1d1;
  }

  .timelineFade{
    animation-name: fadeUpAnime;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  @keyframes fadeUpAnime{
    from{
      opacity: 0;
      transform: translateY(150px);
    }
    to{
      opacity: 100;
      transform: translateY(0);
    }
  }

  .content-head{
    display: flex;
    justify-content: space-between;
    background-color: #bcd1d1;
    padding: 12px 36px 10px;
    border-radius: 10px 10px 0 0;
  }

  .year-box span{
    color: #d10065;
    font-size: 48px;
    font-weight: 500;
  }

  .history-images{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
  }

  .history-image{
    height: 60px;
    width: 60px;
  }
  
  /*===== // Vertical Timeline =====*/
  
  /*===== Resonsive Vertical Timeline =====*/
  @media only screen and (max-width: 830px) {
    #history-contents .timeline-start,
    #history-contents .timeline-end {
      margin: 0;
    }
    #history-contents .conference-center-line {
      margin-left: 0;
      left: 50px;
    }
    .timeline-article .meta-date {
      margin-left: 0;
      left: 20px;
    }
    .timeline-article .content-left-container,
    .timeline-article .content-right-container {
      max-width: 100%;
      width: auto;
      float: none;
      margin-left: 110px;
      min-height: 53px;
    }
    .timeline-article .content-left-container {
      margin-bottom: 20px;
    }
    .timeline-article .content-left,
    .timeline-article .content-right {
      padding: 10px 25px;
      min-height: 65px;
    }
    .timeline-article .content-left:before,
    .timeline-article .content-right:before {
      content: "　";
      width: 10%;
      top: -60px;
      left: -60px;
      border-top: 5px solid #bcd1d1;
    }
  }
  @media only screen and (max-width: 400px) {
    .timeline-article p {
      margin: 0;
    }
    .timeline-article p span.article-number {
      display: none;
    }
    
  }

.mind-area{
  margin-top: 300px;
}

.mind-contents{
  margin-top: 80px;
}

.contact-contents{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.contact-content{
  margin: 10px auto;
  display: block;
  height: 50px;
  width: 60vw;
  border: none;
  border-bottom: 2px solid #d10065;
  border-radius: 10px;
  background-color: rgba(188,209,209,0.7);
  outline: none;
  padding: 10px;
}

.message{
  height: 150px;
}

.submit{
  width: 40vw;
}

.footer-area{
  padding: 40px;
}
